$lh : #{'min(0.5rem,20px)'};
$lh2 : #{'min(1rem,40px)'};
$lh3 : #{'min(2rem,80px)'};
$lh4 : #{'min(3rem,120px)'};
$lh5 : #{'min(4rem,160px)'};

@mixin flex {
    display: flex;
    justify-content: space-between;
}

@mixin ptbtn {
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
}

@mixin ptbg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// 글씨체
@mixin ff($fontname,$url){
    @font-face {
        font-family: '#{$fontname}';
        src: url('./fonts/#{$url}') format('truetype');
    }
}
@include ff(pixel,'Pixel Sans Serif Condensed.ttf');
@include ff(tardust,'PFStardust.ttf');
@include ff(bongus,'Bongus Highlight.otf');

// 세팅
html{
    font-size: 4vw;
    body{
        font-size: 1vw;
        position: relative;
        font-family: tardust;
    }
}

.menuTop{
    @include flex;
    position: fixed;
    z-index: 5;
    width: 90%;
    left: 0;right: 0;
    margin: auto;
    top: $lh2;
    .logo{
        @include ptbtn;
        background-image: url('../images/main1/logo\ md\ 1.gif');
        width: calc(100% / 8);
        height: #{'min(2.2rem,88px)'};
        color: transparent;
    }
    .heart{
        @include flex;
        width: calc(100% / 4);
        margin-top: $lh;
        .image{
            @include ptbtn;
            background-image: url('../images/main1/heart.png');
            width: calc(100% / 3);
            height: #{'min(1.5rem,60px)'};
            color: transparent;
        }
    }
}
.mainWrap{
    background-color: #4eadf5;
    padding-top: $lh3;
    .main.main01{
        position: relative;
        width: 100%;
        height: #{'min(40rem,1600px)'};
        overflow: hidden;
        .cloud{
            position: relative;
            width: 100%;
            height: #{'min(30rem,1200px)'};
            .image{
                @include ptbtn;
                @for $i from 1 through 4{
                    &.i#{$i}{
                        background-image: url('../images/mb/cloud#{$i}.png');
                    }
                }
                color: transparent;
                position: absolute;
                &.i1{
                    width: calc(100% / 8 * 5);
                    height: #{'min(6rem,240px)'};
                    top: $lh;
                    left: -15%;
                }
                &.i2{
                    width: 70%;
                    height: #{'min(5rem,200px)'};
                    top: #{'min(11rem,440px)'};
                    right: -25%;
                }
                &.i3{
                    width: calc(100% / 8 * 4);
                    height: #{'min(8rem,320px)'};
                    bottom: $lh5;
                    left: -2%;
                }
                &.i4{
                    width: calc(100% / 8 * 3);
                    height: $lh5;
                    bottom: 0;
                    right: 5%;
                }
            }
        }
        .title{
            @include ptbtn;
            background-image: url('../images/tab/mainmobile1.png');
            position: relative;
            position: absolute;
            width: 90%;
            height: #{'min(11rem,4040px)'};
            margin: auto;
            left: 0;right: 0;
            top: $lh4;
            span{
                position: absolute;
                text-align: center;
                margin: auto;
                left: 0;right: 0;
                top: 0;bottom: 0;
                font-size: #{'min(6.5em,65px)'};
                font-family: pixel;
                color: #fff;
                width: 80%;
                height: $lh4;
            }
        }
        .bottom{
            @include ptbg;
            background-image: url('../images/bg/bgbtm.png');
            position: relative;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: #{'min(6rem,260px)'};
            .box{
                @include ptbtn;
                background-image: url('../images/main1/box.png');
                position: absolute;
                width: calc(100% / 8 );
                height: #{'min(2.5rem,120px)'};
                color: transparent;
                top: #{'min(-1.5rem,-40px)'};
                left: 25%;
            }
            .flower{
                .image{
                    @include ptbtn;
                    background-image: url('../images/main1/flowermd.png');
                    position: absolute;
                    width: calc(100% / 8 * 2);
                    height: $lh4;
                    color: transparent;
                    &.i1{
                        left: 5%;
                        bottom: $lh;
                    }
                    &.i2{
                        margin: auto;
                        left: 0;right: 0;
                    }
                    &.i3{
                        right: 10%;
                        bottom: $lh2;
                    }
                }
            }
            .me{
                position: relative;
                width: 100%;
                height: #{'min(5rem,200px)'};
                .image{
                    @include ptbtn;
                    @for $i from 1 through 2{
                        &.i#{$i}{
                            background-image: url('../images/main1/me#{$i}.png');
                        }
                    }
                    width: calc(100% / 8);
                    color: transparent;
                    &.i1{
                        position: absolute;
                        height: $lh5;
                        left: 24%;
                        bottom: #{'min(1.5rem,60px)'};
                        animation-name: box;
                        animation-duration: 2s;
                        animation-iteration-count: infinite;
                    }
                    &.i2{
                        position: relative;
                        position: absolute;
                        height: #{'min(3.5rem,140px)'};
                        right: 10%;
                        top: #{'min(-1.5rem,-60px)'};
                        .water{
                            @include ptbtn;
                            background-image: url('../images/main1/water.png');
                            position: absolute;
                            width: 15%;
                            height: $lh2;
                            right: 28%;
                            top: $lh2;
                        }
                    }
                }
            }
        }
    }
    &:nth-child(3){
        background-color: #ffd36e;
        padding: 0 2.5%;
        padding-top: #{'min(0.8rem,32px)'};
        padding-bottom: #{'min(0.8rem,32px)'};
        .main.main02{
            border: 7px dashed #dca424;
            .infoTop{
                @include flex;
                width: 90%;
                margin: 0 auto;
                margin-top: $lh2;
                .cha{
                    @include ptbg;
                    background-image: url('../images/main1/bgcbig.gif');
                    width:calc(100% / 8 * 3.5);
                    height: #{'min(8rem,320px)'};
                    border: 6px solid #dca424;
                    color: transparent;
                    .image{
                        @include ptbtn;
                        background-image: url('../images/main1/main_me.gif');
                        width: 50%;
                        margin: 0 auto;
                        height: #{'min(6rem,240px)'};
                        margin-top: $lh2;
                    }
                }
                .right{
                    width: calc(100% / 4 * 2);
                    .group{
                        h3{
                            font-size: #{'min(3em,30px)'};
                            color: #fff;
                            font-family: pixel;
                            text-transform: capitalize;
                            line-height: #{'min(1.4rem,56px)'};
                        }
                        .image{
                            @include ptbg;
                            background-image: url('../images/main1/mainbar.png');
                            width: 100%;
                            height: $lh3;
                            span{
                                font-size: #{'min(3.5em,35px)'};
                                color: #fff;
                                margin-left: 10%;
                                line-height: $lh3;
                            }
                        }
                    }
                    .images{
                        @include flex;
                        margin-top: $lh2;
                        .image{
                            @include ptbtn;
                            @for $i from 1 through 2{
                                &.i#{$i}{
                                    background-image: url('../images/main1/bottom#{$i}.gif');
                                }
                            }
                            position: relative;
                            width: 50%;
                            height: #{'min(2.5rem,100px)'};
                            margin: 0 auto;
                            margin-top: #{'min(0.2rem,8px)'};
                            &.i1::after{
                                @include ptbtn;
                                background-image: url('../images/main1/bottom.gif');
                                content: '';
                                display: block;
                                position: absolute;
                                width: 170%;
                                height: $lh4;
                                left: -34%;
                                top: -0.2rem;
                            }
                            &.i2{
                                margin-top: $lh;
                            }
                        }
                    }
                }
            }
            .infoMd{
                .top{
                    @include flex;
                    width: 90%;
                    margin: 0 auto;
                    .left{
                        width: 50%;
                        h3{
                            font-family: pixel;
                            text-transform: capitalize;
                            color: #fff;
                            line-height: #{'min(1.5rem,60px)'};
                            font-size: #{'min(3em,30px)'};
                        }
                        .image{
                            @include ptbtn;
                            background-image: url('../images/main1/mainbar.png');
                            width: 90%;
                            height: $lh3;
                            position: relative;
                            span{
                                color: #fff;
                                line-height: $lh3;
                                position: absolute;
                                width: 50%;
                                left: 10%;
                                font-size: #{'min(3em,30px)'};
                            }
                        }
                    }
                    .right{
                        width: 50%;
                        h3{
                            font-family: pixel;
                            text-transform: capitalize;
                            color: #fff;
                            line-height: #{'min(1.5rem,60px)'};
                            font-size: #{'min(3em,30px)'};

                        }
                        .image{
                            @include ptbtn;
                            background-image: url('../images/main1/mainbar.png');
                            width: 90%;
                            height: $lh3;
                            position: relative;
                            span{
                                color: #fff;
                                line-height: $lh3;
                                position: absolute;
                                width: 20%;
                                left: 10%;
                                font-size: #{'min(3em,30px)'};
                            }
                        }
                    }
                }
                .bottom{
                    width: 90%;
                    margin: 0 auto;
                    h3{
                        font-family: pixel;
                        color: #fff;
                        line-height: #{'min(1.5rem,60px)'};
                        font-size: #{'min(3em,30px)'};
                    }
                    .image{
                        @include ptbtn;
                        background-image: url('../images/tab/mainlongbar.png');
                        width: 95%;
                        height: $lh3;
                        position: relative;
                        overflow: hidden;
                        span{
                            color: #fff;
                            line-height: $lh3;
                            position: absolute;
                            width: 20%;
                            left: 5%;
                            font-size: #{'min(3em,30px)'};
                        }
                    }
                }
            }
            .infoBtm{
                position: relative;
                margin-top: $lh2;
                margin-bottom: #{'min(0.8rem,32px)'};
                .group{
                    @include flex;
                    padding: 0 10%;
                    .btn{
                        color: #fff;
                        font-size: #{'min(2.5em,25px)'};
                        width: 5%;
                        line-height: #{'min(1.5rem,60px)'};
                    }
                    h3{
                        font-size: #{'min(2.8em,28px)'};
                        text-transform: uppercase;
                        font-family: pixel;
                        color: #fff;
                        line-height: #{'min(1.5rem,60px)'};
                        &:nth-child(2){
                            width: calc(100% / 4 * 2.5);
                        }
                        &:nth-child(3){
                            text-align: right;
                            width: calc(100% / 4);
                        }

                    }
                }
                .box{
                    margin: 0 auto;
                    width: 85%;
                    outline: 7px solid #dca424;
                    padding: 0 5%;
                    margin-top: $lh2;
                    padding-bottom: $lh2;
                    border-top: 5px solid #ca9b2f;
                    border-right: 4px solid #ca9b2f;
                    p{
                        font-size: #{'min(2.5em,25px)'};
                        line-height: $lh2;
                        color: #fff;
                        font-weight: normal;
                        text-align: center;
                        span{
                            font-size: #{'min(3em,30px)'};
                            font-weight: 700;
                            line-height: $lh3;
                        }
                    }
                }
                .alert{
                    @include flex;
                    position: fixed;
                    width: 80%;
                    padding: 0 5%;
                    padding-top: $lh;
                    padding-bottom: $lh;
                    left: 0;right: 0;
                    top: 0;bottom: 0;
                    z-index: -1;
                    margin: auto;
                    background-color: #ffd36e;
                    outline: 7px solid #dca424;
                    border-top: 5px solid #ca9b2f;
                    border-right: 4px solid #ca9b2f;
                    border-bottom: 3px solid #ca9b2f;
                    height: $lh5;
                    .image{
                        @include ptbtn;
                        background-image: url('../images/programming/btn01.gif');
                        width: 20%;
                        height: #{'min(2.5rem,100px)'};
                        margin-top: #{'min(0.2rem,8px)'};
                    }
                    p{
                        width: 70%;
                        font-size: #{'min(2em,20px)'};
                        color: #fff;
                        line-height: #{'min(0.8rem,32px)'};
                    }
                    span{
                        line-height: $lh2;
                        height: $lh2;
                        width: 5%;
                        text-transform: uppercase;
                        color: #c4921e;
                        font-family: pixel;
                        font-size: #{'min(3em,30px)'};
                    }
                }
            }
        }
    }
    &:nth-child(4){
        background-color: #feffde;
        padding-top: $lh3;
        .main.main03{
            .chip{
                @include flex;
                width: 90%;
                margin: 0 auto;
                .imgbtn{
                    width: calc(100% / 3);
                    .image{
                        @include ptbtn;
                        height: #{'min(5.5rem,220px)'};
                        color: transparent;
                        @for $i from 1 through 3{
                            &.i#{$i}{
                                background-image: url('../images/main1/chip#{$i}.png');
                            }
                        }
                    }
                .btns{
                    @include flex;
                    width: 80%;
                    margin: 0 auto;
                    .btn{
                        width: calc(50% - 10px);
                        line-height: $lh2;
                        height: $lh2;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: #{'min(2em,20px)'};
                        color: #5c8378;
                        font-family: pixel;
                        border-bottom: 3.5px solid #5c8378;
                    }
                }
                }
            }
            .game{
                width: 55%;
                color: transparent;
                margin: 0 auto;
                margin-top: $lh4;
                position: relative;
                height: 14rem;
                .view{
                    @include ptbg;
                    background-position: top;
                    background-image: url('../images/programming/loading.jpg');
                    width: 52.8%;
                    height: 9rem;
                    position: absolute;
                    top: 1.4rem;
                    left: 32.6%;
                }
                .gameimage{
                    @include ptbtn;
                    background-image: url('../images/main1/bmomd.png');
                    position: absolute;
                    width: 100%;
                    height: 14.5rem;
                    // height: #{'min(8rem,320px)'};
                }

            }
            .bottom{
                height: $lh3;
                margin-top: #{'min(-1rem ,-40px)'};
                .color{
                    color: transparent;
                    &:nth-child(1){
                        margin-top: #{'min(-0.2rem,-8px)'};
                        background-color: #ffd36e;
                        height: $lh3;
                    }
                    &:nth-child(2){
                        background-color: #e9bc56;
                    }
                }
            }
        }
    }
    &:nth-child(5){
        background-color: #e9bc56;
        padding-top: 0;
        padding: 0 5%;
        padding-bottom: $lh2;
        padding-top:  $lh2;
        .main.main04{
            border: 7px dashed #ffd36e;
            h2{
                text-align: center;
                font-size: #{'min(7.5em,75px)'};
                font-family: bongus;
                font-weight: 700;
                line-height: $lh4;
                margin-top: $lh5;
                font-weight: 700;
            }
            .kakao{
                @include ptbg;
                background-image: url('../images/programming/kakao.png');
                width: 40%;
                margin: 0 auto;
                height: #{'min(9rem,360px)'};
                color: transparent;
                margin-top: $lh;
                outline: 1px solid #000;
            }
            .btn{
                position: relative;
                width: 45%;
                text-align: center;
                margin: 0 auto;
                font-size: #{'min(4em,40px)'};
                text-transform: capitalize;
                &::after{
                    @include ptbtn;
                    background-image: url('../images/programming/pink2.png');
                    content: '';
                    width: 100%;
                    height: #{'min(1.5rem,60px)'};
                    position: absolute;
                    opacity: 0.6;
                    left: 0;
                    bottom: 0;
                }
            }
            .me{
                @include flex;
                color: transparent;
                width: 30%;
                margin-left: auto;
                margin-right: 3%;
                margin-top: $lh;
                .image{
                    @include ptbtn;
                    @for $i from 1 through 2{
                        &.i#{$i}{
                            background-image: url('../images/main1/me#{$i}.png');
                        }
                    }
                    position: relative;
                    width: calc(100% / 2);
                    height: #{'min(5.5rem,220px)'};
                    .image{
                        @include ptbtn;
                        background-image: url('../images/main1/hearttalk.gif');
                        position: absolute;
                        width: 80%;
                        height: $lh3;
                        top: #{'min(-1.5rem,-60px)'};
                        left: 0;right: 0;
                        margin: auto;
                    }
                }
            }
        }
    }
}
@keyframes box{
    0%{
        bottom: $lh;
    }
    10%{
        bottom: $lh;
    }
    20%{
        bottom: $lh;
    }
    30%{
        bottom: $lh;
    }
    50%{
        bottom: #{'min(1.5rem,60px)'};
    }
    70%{
        bottom: $lh;
    }
    80%{
        bottom: $lh;
    }
    100%{
        bottom: $lh;
    }
}
